aiohttp
pyrogram==1.4.15
psycopg2-binary
requests
dnspython
tgcrypto
asyncio
python-dotenv
APScheduler==3.7.0
ptable
prettytable
spotipy==2.19.0
yourls
speedtest-cli==2.1.3
humanize
youtube-search-python
yt-dlp 
wget==3.2
urllib3
numpy
Pillow
telegraph==1.4.1
sqlalchemy==1.3.23
motor
pymongo 
psutil
heroku3
gitpython
emoji
google==3.0.0
google-search==1.1.1
googlesearch-python== 1.0.1
bs4
pymediainfo
gpytranslate
gtts
tracemoepy
textblob
